* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
    min-width: 320px;
    min-height: 100vh;
    padding: 2rem 1.75rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
    color: white;
}

img {
    max-width: 100%;
}

h1 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin-bottom: 1.5rem;
}

ul {
    list-style: none;
}

header {
    height: fit-content;
    margin-top: 0;
    margin-bottom: 2rem;
}

.logo {
    width: 40%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0rem;
}

button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    padding: 15px 65px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem; 
    line-height: 1;
    background: white;
    color: hsl(257, 40%, 49%);
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 8px 18px -8px rgba(0, 0, 0, .8);
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border: none; 
}

button:focus, button:hover {
    background: hsl(300, 69%, 71%);
    color: white;
}

.socials-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

a {
    margin: 0 0.4rem;
    position: relative;
    display: block;
    background: transparent;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    font-size: 0.875rem;
    line-height: 2;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.socials-icon a:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}

/*---Breakpoint---*/
@media screen and (min-width: 1366px) {
    body {
        min-height: 100vh;
        margin: 0 auto;
        background: url(./images/bg-desktop.svg);
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
        background-size: contain;
        line-height: 1.5;
        padding-bottom: 0;
    }

    .container {
        max-width: 1320px;
        margin: 1rem 1.75rem;
        padding: 0 1rem;
    }

    .container-hero img {
        width: 70%;
    }
    header {
        height: 50%;
        margin: 0 0 2rem;  
    }

    .logo {
        width: 16%;
    }

    .main {
        margin-top: 0;
        height: fit-content;
    }

    .main .container {
        display: flex;
        justify-content: space-between;
    }

    .main img {
        max-width: 1000px;
    }

    .content-section {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 2.5rem;
        text-align: left;
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }

    button {
        margin: 0;
        height: 3.5rem;
        font-size: 1.2rem;
        line-height: 0;
        padding: 20px 65px;
    }

    .socials-icon {
        display: flex;
        justify-content: right;
        margin: 0;
    }

    a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1rem;
        line-height: 2.2;
    }
}


